
@tailwind components;
@tailwind utilities;

/* Add to your global stylesheet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    background-color: black; /* Optional: Ensures full dark background */
    overflow-x: hidden;
  }
  